<!doctype html>
<title>Music</title>
<link rel="stylesheet" href="static/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css"/>
<script src="static/bower_components/angular/angular.min.js"></script>
<script src="static/bower_components/angular-route/angular-route.min.js"></script>
<script src="static/bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
<script src="static/index.js"></script>


<body ng-app="Player">
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top">
        <h1> Music <small> Player </small> </h1>
    </div>
    <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
            <a class="btn btn-navbar" href=""><i class="fa fa-home fa-navbar"></i>STOP</a>
            <a class="btn btn-navbar" href=""><i class="fa fa-home fa-navbar"></i>+VOL</a>
            <a class="btn btn-navbar" href=""><i class="fa fa-home fa-navbar"></i>-VOL</a>
        </div>
    </div>


    <div class='app-body' ng-controller="MainController">
      <div class='app-content'>
        <div class="ng-view"></div>
      </div>
    </div>
</div>
</body>
