<!doctype html>
<title>Music</title>
<h1>{{ current_song }}</h1>
<div style="margin-top: 30px">
<a href={{ url_for('stop') }}>stop</a>
<a href={{ url_for('next') }}>stop</a>
<div>current_vol: {{ volume }}</div>
<a href={{ url_for('volume', volume=0.1) }}>vol: 10%</a>
<a href={{ url_for('volume', volume=-0.1) }}>vol: -10%</a>
</div>
{% for d in music %}
  <h3>{{ d['dir'] }}:</h3>
  {% for m in d['files'] %}
    <div style="margin-left: 20px">
      <a href={{ url_for('play',music=m['file']) }}>{{ m['name'] }}</a>
    </div>
  {% endfor %}
{% endfor %}
