<!doctype html>
<title>Music</title>
<h1>{{ current_song }}</h1>
{% for d in music %}
  <h3>{{ d['dir'] }}:</h3>
  {% for m in d['files'] %}
    <div style="margin-left: 20px">
      <a href={{ url_for('play',music=m['file']) }}>{{ m['name'] }}</a>
    </div>
  {% endfor %}
{% endfor %}
<div style="margin-top: 30px">
<span>
<a href={{ url_for('stop') }}>stop</a>
</span>
<span>
<a href={{ url_for('volume', volume=1) }}>vol: 100%</a>
<a href={{ url_for('volume', volume=0.5) }}>vol: 50%</a>
<a href={{ url_for('volume', volume=0.1) }}>vol: 10%</a>
</span>

</div>
